<form>
    <div  class="listingTable">
        <mat-form-field>
            <mat-label>search</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="search" #input>
        </mat-form-field>   
        <div>
            <table mat-table [dataSource]="users" class="mat-elevation-z8" matSort>
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header><b>ID</b> </th>
                    <td mat-cell *matCellDef="let user">{{user.id}}</td>
                </ng-container>

                <ng-container matColumnDef="building">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Building</b> </th>
                    <td mat-cell *matCellDef="let user" title="{{user.building}}">{{user.building}}</td>
                </ng-container>

                <ng-container matColumnDef="city">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header><b>City</b> </th>
                    <td mat-cell *matCellDef="let user" title="{{user.city}}">{{user.city}}</td>
                </ng-container>

                <ng-container matColumnDef="state">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header><b>State</b> </th>
                    <td mat-cell *matCellDef="let user" title="{{user.state}}">{{user.state}}</td>
                </ng-container>

                <ng-container matColumnDef="lat">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Lat</b> </th>
                    <td mat-cell *matCellDef="let user" title="{{user.lat}}">{{user.lat}}</td>
                </ng-container>

                <ng-container matColumnDef="long">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Long</b> </th>
                    <td mat-cell *matCellDef="let user" title="{{user.long}}">{{user.long}}</td>
                </ng-container>

                <ng-container matColumnDef="phon">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Phon</b> </th>
                    <td mat-cell *matCellDef="let user" title="{{user.phon}}">{{user.phon}}</td>
                </ng-container>

                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Email</b> </th>
                    <td mat-cell *matCellDef="let user" title="{{user.email}}">{{user.email}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <tr class="mat-row" *matNoDataRow>  
                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr>
            </table>
                <mat-paginator [length]='resultsLength' [pageSize]='10' [pageSizeOptions]='[10,25,50,100]' showFirstLastButtons></mat-paginator>
        </div>
    </div>
</form>